@import '../NavBar/NavBar';
@import '../AboutMe/AboutMe';

.skills-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	// background-color: $color-scheme-three;
	margin: 100px auto;

	h2{
		@include section-header;
		height: auto;
		transition: opacity 3s;
	}

	.skills{
		display: flex;
		justify-content: center;
		height: 300px;
		width: 100%;
		flex-wrap: wrap;
		transition: opacity 3s;

		img{
			width: 100px;
			height: 100px;
		}
	}
}

