@import '../NavBar/NavBar';

.quote-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 100px 0;
	height: 400px;
	// background-color: $color-scheme-three;
	@media screen and (max-width: 1000px) {
		margin-top: 200px;
	}
	p{
		width: 50%;
		font-size: 2.5em;
		color: $color-scheme-two;
		text-align: center;
		transition: opacity 1s;

		@media screen and (max-width: 1000px) {
			font-size: 1.5em;
			width: 90%;
		}
	}
}