@import '../../Nav/NavBar/NavBar.scss';

.card{
	position: relative;
	height: 300px;
	width: 250px;
	margin: 10px;
	background-color: $color-scheme-three;
	color: $color-scheme-two;
	border: $color-scheme-two solid 2px;
	border-radius: 10px;
	box-shadow: 0px 2px 2px 0px gray;
	text-align: center;
	padding-top: 10px;

	img{
		max-width: 200px;
		min-width: 100px;
		height: auto;
		border-radius: 10px;
	}

	.small-card-info{
		border-top: $color-scheme-two solid 2px;
		width: 90%;
		margin: 10px auto;
		padding-top: 10px;
	}

	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(204, 204, 204, 0.3);
		border-radius: 10px;
		opacity: 0;
		box-shadow: 0px 4px 4px 0px gray;

	}

	&:hover:after{
		opacity: 1;
	}

	.btn-more{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 30%;
		left: 35%;
		width: 80px;
		height: 45px;
		border: $color-scheme-three solid 2px;
		border-radius: 5px;
		background-color: $color-scheme-two;
		color: $color-scheme-three;
		outline: none;
		z-index: 1;
		cursor: pointer;
		box-shadow: 0px 2px 2px 0px gray;
		transition: bottom 0.5s, opacity 0.5s;

		&:hover{
			box-shadow: 0px 4px 4px 0px gray;
			background-color: rgb(22, 41, 54);
		}

		&:active{
			box-shadow: 0px 2px 2px 0px gray;
		}
	}
}

.large-card{
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.9);
	top: 5%;
	left: 5%;
	width: 90%;
	height: 600px;
	box-shadow: 0px 2px 2px 0px gray;
	z-index: 4;
	transition: opacity 0.5s, left 0.5s;
	font-size: 20px;
	border: $color-scheme-two solid 2px;
	@media screen and (max-width: 1000px) { 
		font-size: 1em;
		height: 90%;
	}
	@media screen and (max-width: 360px) {
		font-size: .75em;
	}

	a{
		margin: 25px auto;
	}

	img{
		display: block;
		margin: 25px auto;
		max-width: 500px;
		height: auto;
		border-radius: 10px;
		@media screen and (max-width: 1000px) {
			min-width: 100px;
			max-width: 90%;
		}
	}

	div{
		width: 90%;
		margin: 10px auto;
		border-top: $color-scheme-two solid 2px;
	}

	button{
		align-self: flex-end;
		float: right;
		border: none;
		border-radius: 50%;
		background-color: $color-scheme-one;
		outline: none;
		color: $color-scheme-three;
		width: 40px;
		height: 40px;
		margin: 5px;
		box-shadow: 0px 2px 2px 0px gray;
		cursor: pointer;

		&:hover{
			background-color: rgb(255, 0, 0);
			box-shadow: 0px 4px 4px 0px gray;
		}

		&:active{
			box-shadow: 0px 2px 2px 0px gray;
		}
		
		@media screen and (max-width: 360px){
			height: 25px;
			width: 25px;
			font-size: 8px;
		}
	}
}
